@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fbf8ec;
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: #414141;
}

@layer components {
  .menu-item:hover path {
    @apply fill-orange-primary;
  }
}
